.error {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: grey;
    border: 1px solid rgb(222, 227, 231);
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.35);
}

.error-message {
    font-size: 14px;
    margin: 5px;
}

.error-content {
    font-style: italic;
    color: red;
}