.search {
    min-height: calc(100vh - 58px);
}

.main {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 20em;
    overflow: hidden;
}

.content {
    flex-basis: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    flex-grow: 1;
}

.content-image-wrapper {
    position: relative;
    top: 0;
    overflow: hidden;
    height: 23em;
}

.content-image {
    width: 100%;
    position: relative;
}

.container {
    width: 285px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.container-form-input {
    background: white;
    border: none;
    width: 100%;
    padding: 10px;
    color: grey;
}

.container-form-btn {
    background-color: #90bbff;
    border: none;
    color: white;
    padding: 0 10px;
    font-size: 28px;
}

.container-form-btn-search {
    display: block;
    transform: rotate(114deg);
}

.container-form-close-btn {
    background-color: #fff;
    border: none;
    padding: 10px;
}

.container-result-wrapper {
    width: 100%;
    position: absolute;
    top: 38px;
    overflow-y: auto;
    max-height: 300px;
    visibility: visible;
}

.container-result-list {
    background-color: #fff;
    margin-top: 5px;
}

.container-result-item {
    border-bottom: 1px solid rgb(212, 212, 212);
    color: grey;
    padding: 10px;
    cursor: pointer;
}

.container-result-item:hover {
    background-color: rgb(244, 244, 244);
}

.separator {
    content: '';
    width: 70%;
    margin: 0 auto;
    height: 0.5px;
    background-color: rgb(219, 217, 217);
}

@media (max-width: 1400px) {
    .header-title {
        font-size: 30px;
    }

    .main {
        height: 24em;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .content-image-wrapper {
        height: 21em;
    }

    .container-result-wrapper {
        max-height: 250px;
    }
}

@media (max-width: 1200px) {
    .header {
        height: 100px;
    }

    .header-title {
        font-size: 24px;
    }

    .main {
        max-width: 75%;
        height: 22em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .separator {
        width: 75%;
    }

    .content-image-wrapper {
        height: 19em;
    }

    .container-result-wrapper {
        max-height: 220px;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 80px;
    }

    .header-title {
        font-size: 20px;
    }

    .main {
        max-width: 80%;
        height: 20em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .separator {
        width: 80%;
    }

    .content-image-wrapper {
        height: 16em;
    }

    .container-result-item {
        font-size: 14px;
    }

    .container-result-wrapper {
        max-height: 183px;
    }
}

@media (max-width: 800px) {

    .main {
        flex-direction: column;
        height: 26em;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .content-image-wrapper {
        height: 23em;
        top: -28px;
    }

    .container-result-wrapper {
        max-height: 210px;
    }
}

@media (max-width: 600px) {
    .main {
        height: 20em;
        max-width: 85%;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .content-image-wrapper {
        height: 17em;
    }

    .container-result-wrapper {
        max-height: 195px;
    }
}

@media (max-width: 520px) {
    .header {
        height: 60px;
    }

    .main {
        height: 17em;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .content-image-wrapper {
        height: 14em;
    }

    .container-result-wrapper {
        max-height: 155px;
    }
}


@media (max-width: 455px) {
    .main {
        height: 15em;
    }

    .content-image-wrapper {
        height: 12em;
    }

    .container-result-item {
        padding: 5px;
    }

    .container-result-wrapper {
        max-height: 130px;
    }
}

@media (max-width: 400px) {
    .main {
        height: 14em;
        margin-top: 10px;
    }

    .content-image-wrapper {
        height: 11em;
    }

    .container-result-wrapper {
        max-height: 117px;
    }
}